* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body,
html {
  width: 100%;
  height: 100%;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  font-size: 80px;
}
.main {
  min-width: 1024px;
  max-width: 1920px;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
  padding: 0.875rem 0.25rem 0;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
}
.main .column {
  flex: 4;
  /* 图片切图 */
  /* 点位分布 */
}
.main .column .survey {
  height: 1.1rem;
  box-sizing: border-box;
}
.main .column .survey ul {
  display: flex;
  justify-content: space-between;
}
.main .column .survey ul li {
  display: flex;
  flex-direction: column;
}
.main .column .survey ul li h4 {
  font-size: 0.25rem;
  color: white;
  font-weight: normal;
  margin: 0.03rem 0;
}
.main .column .survey ul li:nth-of-type(1) .line {
  background-color: #2d6af6;
}
.main .column .survey ul li:nth-of-type(2) .line {
  background-color: #83caa6;
}
.main .column .survey ul li:nth-of-type(3) .line {
  background-color: #83caa6;
}
.main .column .survey ul li:nth-of-type(4) .line {
  background-color: #db4e3f;
}
.main .column .survey ul li span {
  font-size: 0.15rem;
  color: #4c9bfd;
}
.main .column .survey ul li span .line {
  display: inline-block;
  width: 0.05rem;
  height: 0.13rem;
  border-radius: 0.0625rem;
}
.main .column .slicing {
  border: 1px solid transparent;
  border-image-source: url(../images/border.png);
  border-width: 0.625rem 0.475rem 0.25rem 1.65rem;
  border-image-slice: 50 38 20 132;
  position: relative;
  margin-bottom: 0.25rem;
}
.main .column .inner {
  position: absolute;
  padding: 0.25rem 0.25rem;
  left: -1.625rem;
  right: -0.35rem;
  bottom: -0.125rem;
  top: -0.65rem;
}
.main .column .control {
  height: 4.5rem;
}
.main .column .control .showTab {
  display: none;
}
.main .column .control .tabs {
  font-size: 0.2rem;
  height: 0.5rem;
  display: flex;
  align-items: center;
  margin-left: 0.1875rem;
}
.main .column .control .tabs .line {
  width: 0.05rem;
  height: 0.375rem;
  display: inline-block;
  margin: 0 0.25rem;
  background-color: #6feeef;
}
.main .column .control .tabs .active {
  color: white;
}
.main .column .control .tabs a {
  color: #1950c4;
  font-weight: 600;
}
.main .column .control .top {
  width: 100%;
  height: 0.5rem;
  color: #68d8fe;
  background-color: #1a3158;
  line-height: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.main .column .control .top li {
  font-size: 0.1rem;
}
.main .column .control .top li:nth-of-type(1) {
  margin-left: 0.2rem;
}
.main .column .control .top li:nth-of-type(2) {
  margin-left: -2.3rem;
}
.main .column .control .top li:nth-of-type(3) {
  margin-right: 0.04rem;
}
.main .column .control .bottom {
  width: 100%;
  height: 3.75rem;
  margin-top: 0.125rem;
  overflow: hidden;
}
.main .column .control .bottom .list {
  width: 100%;
  height: 6.25rem;
  list-style: none;
  line-height: 0.375rem;
  animation: name 10s linear infinite;
}
.main .column .control .bottom .list:hover {
  animation-play-state: paused;
}
.main .column .control .bottom .list li {
  padding-left: 0.1875rem;
  color: #7dadfc;
  font-size: 0.157rem;
}
.main .column .control .bottom .list li:hover {
  background-color: #1a3258;
}
@keyframes name {
  100% {
    transform: translateY(-300px);
  }
}
.main .column .point {
  height: 2.6rem;
}
.main .column:nth-of-type(2) {
  margin: 0.375rem 0.1875rem 0;
  flex: 5;
}
