* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
body,
html {
  width: 100%;
  //   height: 100%;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  font-size: 80px;
}
.main {
  min-width: 1024px;
  max-width: 1920px;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
  // min-height: 800px;
  padding: 1.5rem 0.25rem 0;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  .column {
    flex: 4;
    // background-color: aquamarine;
    .survey {
      height: 1.5rem;
      //   background-color: blue;
      box-sizing: border-box;
      ul {
        display: flex;
        justify-content: space-between;
        li {
          display: flex;
          flex-direction: column;
          h4 {
            font-size: 0.4375rem;
            color: white;
            font-weight: normal;
            margin: 0.03rem 0;
          }
          &:nth-of-type(1) .line {
            background-color: #2d6af6;
          }
          &:nth-of-type(2) .line {
            background-color: #83caa6;
          }
          &:nth-of-type(3) .line {
            background-color: #83caa6;
          }
          &:nth-of-type(4) .line {
            background-color: #db4e3f;
          }
          span {
            font-size: 0.2rem;
            color: #4c9bfd;
            .line {
              display: inline-block;
              width: 0.05rem;
              height: 0.13rem;
              border-radius: 0.0625rem;
            }
          }
        }
      }
    }
    /* 图片切图 */
    .slicing {
      border: 1px solid transparent;
      border-image-source: url(../images/border.png);
      border-width: 0.625rem 0.475rem 0.25rem 1.65rem;
      border-image-slice: 50 38 20 132;
      position: relative;
      margin-bottom: 0.25rem;
    }
    .inner {
      position: absolute;
      //   background-color: brown;
      padding: 0.3125rem 0.3125rem;
      left: -1.625rem;
      right: -0.35rem;
      bottom: -0.125rem;
      top: -0.65rem;
    }
    .control {
      height: 5rem;
      //   padding: 20px;
      .showTab {
        display: none;
      }
      .tabs {
        font-size: 0.3rem;
        height: 0.8rem;
        display: flex;
        align-items: center;
        margin-left: 0.1875rem;
        .line {
          width: 0.05rem;
          height: 0.375rem;
          display: inline-block;
          margin: 0 0.25rem;
          background-color: #6feeef;
        }
        .active {
          color: white;
        }
        a {
          color: #1950c4;
          font-weight: normal;
        }
      }
      .top {
        width: 100%;
        height: 0.5rem;
        color: #68d8fe;
        background-color: #1a3158;
        line-height: 0.5rem;
        display: flex;
        justify-content: space-between;
        li {
          font-size: 0.2rem;
          &:nth-of-type(1) {
            margin-left: 0.2rem;
          }
          &:nth-of-type(2) {
            margin-left: -2.3rem;
          }
          &:nth-of-type(3) {
            margin-right: 0.04rem;
          }
        }
      }
      .bottom {
        width: 100%;
        height: 3.75rem;
        margin-top: 0.125rem;
        overflow: hidden;
        .list {
          width: 100%;
          height: 6.25rem;
          list-style: none;
          line-height: 0.4375rem;
          animation: name 10s linear infinite;
          &:hover {
            animation-play-state: paused;
            cursor: pointer;
          }
          li {
            padding-left: 0.1875rem;
            color: #7dadfc;
            font-size: 0.1875rem;
            display: flex;
            height: 0.5rem;
            span:nth-of-type(1) {
              width: 1.3rem;
            }
            span:nth-of-type(2) {
              width: 4.5rem;
            }
            span:nth-of-type(3) {
              width: 1rem;
            }
            &:hover {
              background-color: #1a3258;
            }
          }
        }
      }
    }
    @keyframes name {
      0% {
      }
      100% {
        transform: translateY(-300px);
      }
    }
    /* 点位分布 */
    .point {
      height: 3rem;
      h3 {
        font-size: 0.2875rem;
        color: white;
        font-weight: 400;
      }
      .chart {
        display: flex;
        justify-content: space-between;
        // background-color: pink;
        margin-top: 0.125rem;
        .pie {
          width: 4rem;
          height: 2.3rem;
        }

        .data {
          width: 2.1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0.35rem 0.3rem;
          box-sizing: border-box;
          background: url(../images/rect.png) no-repeat;
          background-size: contain;
          .item {
            &:nth-of-type(1) .line {
              background-color: #ed3f35;
            }
            &:nth-of-type(2) .line {
              background-color: #eacf19;
            }
            h4 {
              font-size: 0.3375rem;
              color: white;
              font-weight: normal;
            }
            span {
              display: block;
              color: #f8ab05;
              font-size: 0.1875rem;
              .line {
                display: inline-block;
                width: 0.05rem;
                height: 0.13rem;
                border-radius: 0.0625rem;
              }
            }
          }
        }
      }
    }
    /* 地图 */
    .map {
      height: 7.2rem;
      margin-bottom: 0.25rem;
      display: flex;
      flex-direction: column;
      h3 {
        line-height: 0.2rem;
        font-size: 0.25rem;
        color: white;
        padding: 0.2rem 0;
        font-weight: normal;
        display: flex;
        align-items: center;
        .block {
          display: inline-block;
          width: 0.32rem;
          height: 0.32rem;
          background: url(../images/shebei.png);
          background-size: contain;
          margin-right: 0.15rem;
        }
      }
      .chart {
        flex: 1;
        background-color: rgba(225, 225, 225, 0.05);
        .geo {
          width: 100%;
          height: 100%;
        }
      }
    }
    /* 全国用户总量统计 */
    .users {
      height: 3.05rem;
      h3 {
        font-size: 0.2875rem;
        color: white;
        font-weight: 400;
      }
      .chart {
        display: flex;
        justify-content: space-between;
        // background-color: pink;
        margin-top: 0.3125rem;
        .pie1 {
          width: 7rem;
          height: 2.4rem;
        }

        .data {
          width: 2.1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0.4rem 0.3rem;
          box-sizing: border-box;
          background: url(../images/rect.png) no-repeat;
          background-size: contain;
          .item {
            &:nth-of-type(1) .line {
              background-color: #ed3f35;
            }
            &:nth-of-type(2) .line {
              background-color: #eacf19;
            }
            h4 {
              font-size: 0.3125rem;
              color: white;
              font-weight: normal;
            }
            span {
              display: block;
              color: #f8ab05;
              font-size: 0.1875rem;
              .line {
                display: inline-block;
                width: 0.05rem;
                height: 0.13rem;
                border-radius: 0.0625rem;
              }
            }
          }
        }
      }
    }
  }
  .column:nth-of-type(2) {
    margin: 0.375rem 0.1875rem 0;
    flex: 5;
  }
}
